{% extends 'base.html' %}

{% block body %}

    <div class="page-header">
        <h1><span class="glyphicon glyphicon-th-large padding-right"
                                                              aria-hidden="true"></span>Dashboard
            <small>Power to you</small>
        </h1>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <span class="glyphicon glyphicon-envelope padding-right" aria-hidden="true"></span>No New Messages
                </div>
                <div class="panel-footer">New Messages</div>

            </div><!--end of pannel-->
        </div>
        <div class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <span class="glyphicon glyphicon-ok padding-right" aria-hidden="true"></span>Tasks Complete
                </div>
                <div class="panel-footer">Current Tasks</div>

            </div><!--end of pannel-->
        </div>
        <div class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <span class="glyphicon glyphicon-heart padding-right" aria-hidden="true"></span>Healthy

                </div>
                <div class="panel-footer">Network Status</div>

            </div><!--end of pannel-->
        </div>
        <div class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <span class="glyphicon glyphicon-link padding-right" aria-hidden="true"></span>No new requests

                </div>
                <div class="panel-footer">Requests</div>

            </div><!--end of pannel-->
        </div>

    </div><!--end of nested row-->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Panel title</h3>
        </div>
        <div class="panel-body">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
            Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
            Aldus PageMaker including versions of Lorem Ipsum.
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
            Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
            Aldus PageMaker including versions of Lorem Ipsum.
        </div>
    </div>
{% endblock %}